@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

/* body {
  margin: 0;
  padding: 0;
  font-family: 'Marmelad', sans-serif;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('black-background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: brightness(50%);
  z-index: -1;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Marmelad', sans-serif;
  position: relative;
  background-image: url('black-background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: brightness(70%);
  /* z-index: -1; */
  background-attachment: fixed;
}

/* TWO PARTS */
.form {
  display: flex;
}

.form-container {
  padding: 20px;
  box-sizing: border-box;
  width: 50%;
}

.mode-switch {
  --color: #fff;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);

  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1.5s ease;
}

.mode-switch.display {
  opacity: 1;
}

.logo-position {
  position: fixed;
  top: 0;
  right: 0;
}

.logo-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 2s;
}

.logo-wrapper img {
  height: 55vh;
}

.logo-wrapper.expanded {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 2s;
}

.logo-wrapper.expanded.place-header {
  transform: translate(-50%, -125%) scale(0.3);
}

.logo-wrapper.expanded.place-header.header-top {
  transform: translate(-50%, -125%) scale(0.3);
  transition: transform 0s;
}

.logo-wrapper.expanded-after {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0s;
}

.logo-wrapper.expanded-after.place-header-after {
  transform: translate(-50%, -125%) scale(0.3);
}

.opacity-zero {
  opacity: 0;
}

.content {
  margin-top: 120px;
  opacity: 0;
  transition: opacity 1.5s ease;
  /* display: flex; */
}

.content.display {
  opacity: 1;
}

.button-item {
  position: relative;
  right: 4%;
}

.wrapper {
  min-height: 30px;
  position: relative;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.102);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.083);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.041);
}

.wrapper-right {
  width: 80%;
}

.option-4 {
  width: 25%;
  height: 80%;
  position: relative;
  top: 2px;
  left: 2px;
  margin-right: 5px;
}

.option-3 {
  width: 33.3%;
  height: 80%;
  position: relative;
  top: 2px;
  left: 2px;
  margin-right: 5px;
}

.option-2 {
  width: 50%;
  height: 80%;
  position: relative;
  top: 2px;
  left: 2px;
  margin-right: 5px;
}

.input {
  font-family: 'Marmelad', sans-serif;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;
}

.input-check-name {
  width: 100%;
  height: 100%;
  /* background-color: var(--bg-color); */
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-check-name-span {
  font-family: 'Marmelad', sans-serif;
  color: #fff;
}

.span-small {
  font-size: 12px;
}

.form-group {
  margin-bottom: 20px;
  text-align: center;
}

.form-group-container {
  display: flex;
}

.form-group-item {
  width: 50%;
}

.form-details-group-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.form-group-label {
  color: white;
  font-weight: bold;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.help-icon {
  margin-left: 10px;
  cursor: pointer;
}

.form-group-input-container {
  display: flex;
  justify-content: center;
  height: 4vh;
}

.form-group-input-container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}

.form-group-input-container-select {
  display: flex;
  justify-content: center;
  height: 4vh;
}

.form-group-input-container-inputs {
  display: flex;
  justify-content: center;
}

.select-left {
  position: relative;
  left: 5%;
}

.select-right {
  position: relative;
  right: 5%;
}

/*INPUT*/
.input-group {
  position: relative;
}

.text-input {
  font-family: 'Marmelad', sans-serif;
  --bg-color: rgba(255, 255, 255, 0.102);
  --main-color: #ffffff78;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  color: var(--main-color);
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1), padding 150ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--bg-color);
  border: 0px solid var(--main-color);
  border-radius: 10px;
  /* box-shadow: 2px 2px var(--main-color); */
}

.user-label {
  font-family: 'Marmelad', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
}

.text-input:focus~.user-label,
.text-input:valid~.user-label {
  transform: translate(-50%, -160%) scale(0.8);
  background-color: #3b3b3bf1;
  border-radius: 5px;
  padding: 0 .4em;
  color: #fff;
}



/*
 FILE INPUT
 */

#fileInputContainer {
  --bg-color: rgba(255, 255, 255, 0.102);
  --main-color: #ffffff78;
  background-color: var(--bg-color);
  border-radius: 10px;
  background-color: var(--bg-color);
  color: var(--main-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: 'Marmelad', sans-serif;
  width: 60%;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
}

#fileInput {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#fileInputLabel {
  font-family: 'Marmelad', sans-serif;
  color: #ffffff;
  position: relative;
  /* z-index: 1; */
  cursor: pointer;
}

.custom-select {
  width: 60%;
  position: relative;
  font-family: 'Marmelad', sans-serif;
}

.custom-select select {
  display: none;
}

.select-selected {
  background: rgba(255, 255, 255, 0.102);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.083);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.041);
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background: rgba(128, 128, 128, 0.8);
  top: 110%;
  left: 0;
  right: 0;
  z-index: 99;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.select-items.select-up {
  bottom: 100%;
  top: auto;
  max-height: 100px;
  overflow-y: auto;
}

.custom-select.select-down .select-items {
  top: auto;
  bottom: 80%;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.modal-content {
  font-family: 'Marmelad', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.send-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-button {
  font-family: inherit;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.15);
  /* color: white; */
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.send-button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.send-button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.send-button span {
  font-family: 'Marmelad', sans-serif;
  color: #fff;
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

.send-button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

.send-button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;

}

.send-button:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

.send-button:hover svg {
  transform: rotate(45deg);
}

.send-container {
  height: 20vh;
  align-items: center;
}

.link-item {
  height: 8vh;
}



@media screen and (max-width: 767px) {
  body {
    font-size: 10px;
  }

  .form {
    display: block;
  }

  .form-container {
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    box-sizing: border-box;
    width: 100%;
  }

  .span-small {
    font-size: 8px;
  }

  .wrapper {
    min-height: 30px;
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.102);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.083);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.041);
  }

  .custom-select {
    width: 80%;
    position: relative;
    font-family: 'Marmelad', sans-serif;
  }

  .select-right {
    position: relative;
    right: 0%;
  }

  .select-left {
    position: relative;
    left: 0%;
  }

  .help-icon {
    margin-left: 2px;
    cursor: pointer;
  }

  .logo-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -100%) scale(0);
    transition: transform 2s;
  }

  .logo-wrapper img {
    height: 45vh;
  }

  .logo-wrapper.expanded {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 2s;
  }

  .logo-wrapper.expanded.place-header {
    transform: translate(-50%, -125%) scale(0.3);
  }

  .logo-wrapper.expanded.place-header.header-top {
    transform: translate(-50%, -125%) scale(0.3);
    transition: transform 0s;
  }

  .logo-wrapper.expanded-after {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0s;
  }
  
  .logo-wrapper.expanded-after.place-header-after {
    transform: translate(-50%, -125%) scale(0.3);
  }

  .content {
    margin-top: 75px;
    opacity: 0;
    transition: opacity 1.5s ease;
    /* display: flex; */
  }

  .text-input {
    font-family: 'Marmelad', sans-serif;
    --bg-color: rgba(255, 255, 255, 0.102);
    --main-color: #ffffff78;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    color: var(--main-color);
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1), padding 150ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--bg-color);
    border: 0px solid var(--main-color);
    border-radius: 10px;
    /* box-shadow: 2px 2px var(--main-color); */
    width: 70%;
  }

  #fileInputContainer {
    --bg-color: rgba(255, 255, 255, 0.102);
    --main-color: #ffffff78;
    background-color: var(--bg-color);
    border-radius: 10px;
    background-color: var(--bg-color);
    color: var(--main-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: 'Marmelad', sans-serif;
    width: 80%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .wrapper-small {
    width: 70%;
  }

  .send-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .send-button {
    font-family: inherit;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.15);
    /* color: white; */
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
}