@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

:root {
  --text-color: #323232;
  --background-color: rgba(0, 0, 0, 0.150);
  --box-shadow-color: rgba(31, 38, 135, 0.083);
  --border-color: rgba(255, 255, 255, 0.041);
  --select-items-background-color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Marmelad', sans-serif;
    position: fixed;
    background-image: url('../images/white-background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* filter: brightness(70%); */
    background-attachment: fixed;
  }

  .logo-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(0.1);
    transition: transform 2s;
  }

  .logo-wrapper img {
    height: 55vh;
  }

  .logo-wrapper.expanded {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 2s;
  }

  .logo-wrapper.expanded.place-header {
    transform: translate(-50%, -125%) scale(0.3);
  }

  .top-lang {
    top: 40px;
    position: absolute;
    top: 40px;
    left: 130px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1.5s ease;
    padding: 5px 10px;

    background: var(--background-color);
    box-shadow: 0 8px 32px 0 var(--box-shadow-color);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid var(--border-color);
  }

  .top-lang-btn {
    padding-right: 20px;
    background: transparent url(../images/arrow-down-black.svg) right center no-repeat;
    background-size: 15px;
  }

  .top-lang-btn img {
    max-width: 24px;
  }

  .top-lang-items {
    position: absolute;
    background: var(--select-items-background-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    width: 208px;
    top: 35px;
    right: 0;
    z-index: 15;
    overflow: hidden;
    display: none;
  }

  .top-lang-items .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 12px 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
  }

  .top-lang-items .item:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .top-lang-items .item img {
    max-width: 20px;
    margin-right: 8px;
  }

  .mode-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    user-select: none;
    fill: var(--text-color);
    position: absolute;
    top: 40px;
    right: 100px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1.5s ease;
  }

  .content {
    margin-top: 0px;
    opacity: 0;
    transition: opacity 1.5s ease;
  }

  .form {
    display: flex;
  }

  .form-container {
    padding: 20px;
    box-sizing: border-box;
    width: 50%;
  }
}


@media screen and (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Marmelad', sans-serif;
    position: relative;
    background-image: url('../images/white-background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* filter: brightness(70%); */
    background-attachment: scroll; /* Змінив fixed на scroll */
    font-size: 10px;
}


  .logo-position {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .logo-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 2s;
  }

  .logo-wrapper img {
    height: 45vh;
  }

  .logo-wrapper.expanded {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 2s;
  }

  .logo-wrapper.expanded.place-header {
    transform: translate(-50%, -137.5%) scale(0.3);
  }

  .logo-wrapper.expanded.place-header.fix-position {
    transform: translate(-50%, -44.5%) scale(0.3);
    transition: transform 0s;
  }

  .top-lang {
    top: 40px;
    position: absolute;
    top: 40px;
    left: 30px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1.5s ease;
    padding: 5px 10px;

    background: var(--background-color);
    box-shadow: 0 8px 32px 0 var(--box-shadow-color);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid var(--border-color);
  }

  .top-lang-btn {
    padding-right: 20px;
    background: transparent url(../images/arrow-down-black.svg) right center no-repeat;
    background-size: 15px;
  }

  .top-lang-btn img {
    max-width: 24px;
  }

  .top-lang-items {
    position: absolute;
    background: var(--select-items-background-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    width: 208px;
    top: 41px;
    right: 0;
    z-index: 15;
    overflow: hidden;
    display: none;
  }

  .top-lang-items .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 7px 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
  }

  .top-lang-items .item:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .top-lang-items .item img {
    max-width: 20px;
    margin-right: 8px;
  }

  .mode-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    user-select: none;
    fill: var(--text-color);

    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1.5s ease;
  }

  .form {
    display: block;
  }

  .form-container {
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    box-sizing: border-box;
    width: 100%;
  }

  .content {
    margin-top: 30px;
    opacity: 0;
    transition: opacity 1.5s ease;
  }
}


.mode-switch.display {
  opacity: 1;
}

.top-lang.display {
  opacity: 1;
}

.content.display {
  opacity: 1;
}

.form-group {
  margin-bottom: 20px;
  text-align: center;
}

.form-group-container {
  display: flex;
}

.form-group-item {
  width: 50%;
}

.form-details-group-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.form-group-label {
  color: #323232;
  font-weight: bold;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.wrapper {
  min-height: 30px;
  position: relative;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background: var(--background-color);
  box-shadow: 0 8px 32px 0 var(--box-shadow-color);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

.wrapper-right {
  width: 80%;
}

.option-4 {
  width: 25%;
  height: 80%;
  position: relative;
  top: 2px;
  left: 2px;
  margin-right: 5px;
}

.option-3 {
  width: 33.3%;
  height: 80%;
  position: relative;
  top: 2px;
  left: 2px;
  margin-right: 5px;
}

.option-2 {
  width: 50%;
  height: 80%;
  position: relative;
  top: 2px;
  left: 2px;
  margin-right: 5px;
}

.input-check {
  font-family: 'Marmelad', sans-serif;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;
}

.input-check-name {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-check-name-span {
  font-family: 'Marmelad', sans-serif;
  color: var(--text-color);
}

.span-small {
  font-size: 12px;
}

.help-icon {
  margin-left: 10px;
  cursor: pointer;
}

.form-group-input-container {
  display: flex;
  justify-content: center;
  height: 4vh;
}

.form-group-input-container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}

.form-group-input-container-select {
  display: flex;
  justify-content: center;
  height: 4vh;
}

.form-group-input-container-inputs {
  display: flex;
  justify-content: center;
}

.select-left {
  position: relative;
  left: 5%;
}

.select-right {
  position: relative;
  right: 5%;
}

.input-group {
  position: relative;
}

.text-input {
  font-family: 'Marmelad', sans-serif;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  color: var(--text-color);
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1), padding 150ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--background-color);
  border: 0px solid var(--text-color);
  border-radius: 10px;
}

.user-label {
  font-family: 'Marmelad', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
}

.text-input:focus~.user-label,
.text-input:valid~.user-label {
  transform: translate(-50%, -160%) scale(0.8);
  background-color: #3b3b3bf1;
  border-radius: 5px;
  padding: 0 .4em;
  color: #fff;
}

#fileInputContainer {
  border-radius: 10px;
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: 'Marmelad', sans-serif;
  width: 60%;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
}

#fileInput {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#fileInputLabel {
  font-family: 'Marmelad', sans-serif;
  color: var(--text-color);
  position: relative;
  cursor: pointer;
}

.custom-select {
  width: 60%;
  position: relative;
  font-family: 'Marmelad', sans-serif;
}

.custom-select select {
  display: none;
}

.select-selected {
  background: var(--background-color);
  box-shadow: 0 8px 32px 0 var(--box-shadow-color);
  /* backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px); */
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,
.select-selected {
  color: var(--text-color);
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background: var(--select-items-background-color);
  top: 110%;
  left: 0;
  right: 0;
  z-index: 99;
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.select-items.select-up {
  bottom: 100%;
  top: auto;
  max-height: 100px;
  overflow-y: auto;
}

.custom-select.select-down .select-items {
  top: auto;
  bottom: 80%;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  font-family: 'Marmelad', sans-serif;
  position: absolute;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 50%;
}


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.send-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-button {
  font-family: inherit;
  font-size: 18px;
  background: var(--background-color);
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.send-button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.send-button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.send-button span {
  font-family: 'Marmelad', sans-serif;
  color: var(--text-color);
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

.send-button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

.send-button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;

}

.send-button:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

.send-button:hover svg {
  transform: rotate(45deg);
}

.send-container {
  height: 20vh;
  align-items: center;
}

.link-item {
  height: 8vh;
}



@media screen and (max-width: 767px) {
  .span-small {
    font-size: 8px;
  }

  .wrapper {
    width: 90%;
  }

  .custom-select {
    width: 80%;
  }

  .select-items {
    top: 70%;
  }

  .select-right {
    right: 0%;
  }

  .select-left {
    left: 0%;
  }

  .help-icon {
    margin-left: 2px;
  }

  .text-input {
    width: 70%;
  }

  #fileInputContainer {
    width: 80%;
  }

  .wrapper-small {
    width: 70%;
  }

  .send-button-container {
    padding-bottom: 20px;
  }

  .send-button {
    font-size: 12px;
  }

  .text-input:focus~.user-label,
  .text-input:valid~.user-label {
    transform: translate(-50%, -215%) scale(0.8);
  }

  #offerLinkInput15{
    font-size: 10px;
    width: 80%;
  }
}